@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&display=swap');

$color: #EDF2EC;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 10px;
}

button:hover {
    color: #FFFFFF;
    background: #E06733;
    border: 2px solid #E06733;
}

header {
    background-color: $color;

    .container {
        padding-top: 1%;
        display: grid;
        align-items: baseline;
        grid-template-columns: 10% 1fr 37%;

        a {
            grid-column: 1/2;
            display: flex;
            // img {

            // }
        }

        .burger {
            display: none;
        }

        nav {
            grid-column: 3/4;

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    list-style: none;

                    // &:not(:first-child) {
                    //     margin-left: 14%;
                    // }

                    a {
                        text-decoration: none;
                        font-family: 'Inika';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 50px;
                        color: #010201;

                        &:active {
                            color: #E06733;
                        }

                        &:hover {
                            color: #E06733;
                        }
                    }
                }
            }
        }
    }
}

main {
    .welcome {
        background-color: $color;
        padding-bottom: 3.75%;

        .bg {
            padding-top: 6%;
            height: 100%;
            background: url(accets/leafs.svg) 0 116% no-repeat;

            .container {
                display: grid;
                grid-template-columns: 55% 45%;

                .text {
                    grid-column: 2/3;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h1 {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 45px;
                        line-height: 50px;
                        color: #717171;
                        margin-bottom: 9%;

                        span {
                            color: #499A18;
                        }
                    }

                    p {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 35px;
                        color: #636060;
                        margin-bottom: 9%;
                    }

                    button {
                        width: 29%;
                        cursor: pointer;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        background-color: transparent;
                        border: 2px solid #E06733;
                        border-radius: 10px;
                        padding: 1.5% 4.5%;
                        color: #000000;

                        &:hover {
                            color: #FFFFFF;
                            background: #E06733;
                            border: 2px solid #E06733;
                        }
                    }
                }
            }
        }
    }

    .about {
        margin-top: 8%;
        margin-bottom: 4.25%;

        .container {
            display: flex;
            justify-content: space-between;

            .text {
                max-width: 49%;

                h2 {
                    font-family: 'Inika';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 52px;
                    color: #499A18;
                    margin-bottom: 7%;
                }

                span {
                    color: #E06733;
                }

                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                    color: #636060;
                }
            }

            img {
                margin-top: -5%;
            }
        }
    }

    .service {
        background-color: $color;
        padding-top: 1.5%;
        padding-bottom: 8.75%;

        .container {

            .info {
                display: grid;
                grid-template-columns: 25% 11.5% 45% 1fr;
                // display: flex;
                // justify-content: space-between;
                // margin-right: 20%;
                margin-bottom: 6.5%;

                h2 {
                    grid-column: 1/2;
                    // max-width: 25%;
                    font-family: 'Inika';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 52px;
                    color: #499A18;
                }

                ul {
                    box-sizing: border-box;
                    grid-column: 3/4;
                    // display: flex;
                    // justify-content: space-between;
                    margin-top: 5%;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 10%;

                    li {
                        list-style: none;

                        // &:not(:last-child) {
                        //     margin-right: 30%;
                        // }

                        button {
                            cursor: pointer;
                            font-family: 'Inika';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 26px;
                            color: #E06733;
                            border: 1px solid #E06733;
                            border-radius: 5px;
                            background-color: transparent;
                            height: 65%;
                            width: 110%;


                            &:hover {
                                color: #FFFFFF;
                                background: #E06733;
                                border: 2px solid #E06733;
                            }
                        }

                        // #Lawn {
                        //     padding: 22% 99%;
                        // }

                        // #Planting {
                        //     margin-right: 30%;
                        // }
                    }
                }
            }

            .cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                column-gap: 9.5%;
                row-gap: 7%;

                &__item {
                    cursor: pointer;
                    text-align: center;
                    border: 1px solid #E3E1D5;
                    border-radius: 20px 20px 20px 20px;
                    padding-bottom: 10%;

                    &__photo {
                        border-radius: 20px 20px 0px 0px;
                        width: 329px;
                        height: 350px;
                    }

                    #cardPhoto1 {
                        background: url(accets/cards1.jpeg) 0 48% no-repeat;
                        background-size: 331px auto;
                    }

                    #cardPhoto2 {
                        background: url(accets/cards2.jpeg) 0 48% no-repeat;
                        background-size: 331px auto;
                    }

                    #cardPhoto3 {
                        background: url(accets/cards3.jpeg) 48% 48% no-repeat;
                        background-size: auto 350px;
                    }

                    #cardPhoto4 {
                        background: url(accets/cards4.jpeg) 0 45% no-repeat;
                        background-size: 331px auto;
                    }

                    #cardPhoto5 {
                        background: url(accets/cards5.jpeg) 0 46% no-repeat;
                        background-size: 331px auto;
                    }

                    #cardPhoto6 {
                        background: url(accets/cards6.jpeg) 0 47% no-repeat;
                        background-size: 331px auto;
                    }

                    h3 {
                        margin-top: 1.5%;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 20px;
                        color: #E06733;
                    }

                    p {
                        margin-top: 5%;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: #717171;
                    }
                }
            }
        }
    }

    .prices {
        height: 100%;
        margin-top: 1.5%;
        padding-bottom: 6.2%;
        background: url(accets/leafsSmall.svg) no-repeat 81% 69%;
        // height: 50vh;

        .container {
            height: 100%;
            display: grid;
            grid-template-columns: 27% 1fr 38%;

            .left {
                width: 100%;
                grid-column: 1/2;

                h2 {
                    margin-bottom: 18%;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 48px;
                    color: #000000;
                }

                form {
                    width: 100%;
                    padding: 10% 11.5%;
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    // justify-content: space-between;
                    border: 1px solid #E3E1D5;
                    border-radius: 20px;

                    button {
                        display: flex;
                        justify-content: space-between;
                        background: #EDF2EC;
                        border: none;
                        border-radius: 20px;
                        padding: 7% 15.5%;
                        cursor: pointer;
                        background-color: transparent;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 20px;
                        color: #000000;

                        &:not(:last-child) {
                            margin-bottom: 10%;
                        }
                    }
                }
            }

            .right {
                grid-column: 3/4;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                h2 {
                    margin-bottom: 8.5%;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 50px;
                    text-align: right;
                    color: #000000;

                    span {
                        color: #499A18;
                    }
                }

                button {
                    cursor: pointer;
                    font-family: 'Inika';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    text-align: center;
                    color: #E06733;
                    border: 1px solid #E06733;
                    border-radius: 5px;
                    background-color: transparent;
                    padding: 2.5% 7%;

                    &:hover {
                        color: #FFFFFF;
                        background: #E06733;
                        border: 2px solid #E06733;
                    }
                }
            }
        }
    }

    .contacts {
        background: $color;
        height: 57vh;

        .container {
            height: 100%;
            display: grid;
            grid-template-columns: 42% 16% 42%;
            // grid-gap: 10%;
            // flex-direction: column;
            // align-items: center;
            background: url(accets/contact_woman.png) no-repeat 1% 99%;

            h2 {
                grid-column: 2/3;
                margin-top: 26%;
                font-family: 'Inika';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 52px;
                color: #499A18;
            }

            .cities {

                grid-column: 3/4;
                margin-left: 12%;
                margin-top: 27%;

                &__select {
                    width: 100%;
                    position: relative;

                    .arrow {
                        position: absolute;
                        top: 34%;
                        right: 7.5%;
                        pointer-events: none;
                    }

                    .value {
                        font-size: 16px;
                        color: #499A18;
                        border-bottom: 1px solid #D9D9D9;
                    }

                    #value1 {
                        padding-top: 10%;
                        color: #717171;
                        border-bottom: 1px solid #717171;
                    }

                    #cities {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        width: 100%;
                        padding: 1% 5%;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 40px;
                        letter-spacing: 0.05em;
                        color: #717171;
                        background: #D6E7D2;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 0px;
                        border: none;
                        outline: none;
                        cursor: pointer;

                        &:focus {
                            background: #C1E698;
                        }
                    }

                    #city {
                        display: none;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 1.5%;

    .container {
        display: grid;
        grid-template-columns: 13.5% 1fr 15% 1fr 15.5%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 50px;
        color: #000000;

        .year {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            grid-column: 1/2;

            li {
                list-style: none;
                text-align: center;
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    color: #000000;
                }

                // &:not(:last-child) {
                //     margin-right: 15%;
                // }
            }
        }

        p {
            grid-column: 3/4;
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: #000000;
            }
        }

        .media {
            padding-top: 6%;
            grid-column: 5/6;
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;

                // &:not(:last-child) {
                //     margin-right: 15%;
                // }
            }
        }
    }
}